<% provide(:title, "Manage Categories") %>
<div class="py-3 container">
  <div class="row">
    <div class="col-md-12">
      <ul class="list-group">
        <li class="list-group-item text-center bg-primary">
          <%= form_tag admin_search_category_path, method: :get, class: "search-input ", id: "form_search" do %>
           <%= text_field_tag "find_category", params[:find_category], placeholder: "Find category",
              id: "autocomplete", class: "form-control" %>
          <% end %>
        </li>
        <li class="list-group-item text-left bg-primary">
          <%= link_to t(".new"), new_admin_category_path, class: "text-body nav-item" %>
        </li>
        <li class="list-group-item text-left bg-primary">
          <%= link_to t(".categories"), admin_categories_path, class: "text-body nav-item" %>
        </li>
        <% @categories.each do |category| %>
          <li class="list-group-item d-flex justify-content-between align-items-center">
            <div class="col-md-8 d-flex justify-content-between align-items-center">
              <%= link_to category.name, admin_category_path(category) %>
              <span class="badge badge-primary badge-pill"><%= category.products.count %></span>
            </div>
            <div class="col-md-4 d-flex justify-content-between align-items-center">
              <%= link_to t(".edit"), edit_admin_category_path(category),
                class: "col-md-2 btn btn-sm btn-outline-primary" %>
              <%= link_to t(".delete"), admin_category_path(category), method: :delete,
                data: {confirm: t(".confirm")},
                class: "col-md-2 btn btn-sm btn-outline-danger" %>
            </div>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
<%= paginate @categories %>
