<nav class="navbar navbar-expand-md bg-secondary navbar-dark">
  <div class="container">
    <%= link_to t(".name_app"), root_path, id: "logo" %>
    <button class="navbar-toggler navbar-toggler-right" type="button"
      data-toggle="collapse" data-target="#navbarSupportedContent">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <%= link_to t(".users"), admin_users_path %> /
        </li>
        <li class="nav-item">
          <%= link_to t(".categories"), admin_categories_path %> /
        </li>
        <li class="nav-item">
          <%= link_to t(".products"), admin_products_path %> /
        </li>
        <li class="nav-item">
          <%= link_to t(".orders"), admin_orders_path %> /
        </li>
        <li class="nav-item">
          <%= link_to t(".contact"), contact_path %> /
        </li>
      </ul>
      <form class="form-inline m-0">
        <input class="form-control mr-2" type="text" placeholder="<%= t ".search"%>">
      </form>
    </div>
  </div>
</nav>
