<nav class="navbar navbar-expand-md navbar-dark bg-primary">
  <div class="container">
    <%= link_to t(".name_app"), root_path, class: "navbar-brand" %>
    <ul class="nav">
      <li class="nav-item">
        <%= link_to t(".contact"), contact_path, class: "nav-link" %>
      </li>
      <li class="nav-item search" id="searchForm">
        <div class="input-group">
          <input type="text" class="form-control" id="inlineFormInputGroup"
            placeholder="<%= t ".search" %>">
          <div class="input-group-prepend">
            <a class="btn btn-light input-group-text" href="#"><%= t".light" %></a>
          </div>
        </div>
      </li>
    </ul>
    <div class="collapse navbar-collapse text-center justify-content-end" id="navbarSecondarySupportedContent">
      <div class="text-center">
        <a href="<%= carts_path %>"><i class="fa fa-shopping-cart"></i><%= t ".cart" %></span></a>
      </div>
      <%= show_nav_user %>
    </div>
  </div>
</nav>
